@charset "UTF-8";

@font-face{
	font-family: 'fb_logo';
	src: url("../fonts/FACEBOLF.OTF");
}

html{
	margin:0;
	padding:0;	
	background-color: #8C271D;
}
body{
	margin:0;
	padding:0;	
	background-color: #8C271D;
}
#master{
    background-color: #8C271D;
    width: 100%;
    height: 100%;
    padding:0;
    margin-top:0;
    margin-bottom:0;
    position: absolute;
    top: 0; left: 0; 
}
#logo_row{
    color: #E0CA3C;
    font-size:500%;
    height: 40%;
    text-align: center;
    font-family: 'fb_logo';
    /* justify-content: center; */
   /*  position: fixed;
    top:20%; */
}
.label{
	text-align: right;
	font-size: 125%;
	color: #E0CA3C;
}
.login_btns{
	background-color: #3A4454;
	border-color: black;
	color: #E0CA3C;
	text-align: center;
}